.python-version
__pycache__

.ipynb_checkpoints

.DS_Store

/data/*
!/data/cowc_cities
!/data/cowc_processed
/data/cowc_processed/*
!/data/cowc_processed/test
!/data/cowc_processed/train_val

/models/*