.python-version
__pycache__

.ipynb_checkpoints

.DS_Store

/data/*
!/data/cowc_cities
!/data/cowc_processed
/data/cowc_processed/*
!/data/cowc_processed/test/test.txt
!/data/cowc_processed/train_val/train_val.txt
/data/cowc_processed/train_val/crop/*
!/data/cowc_processed/train_val/crop/train.txt
!/data/cowc_processed/train_val/crop/val.txt
!/data/cowc_processed/train_val/crop/mean.npy

/models/*